.transactions {
  display: flex;
  flex-direction: column;
  @include mq($from: tablet) {
    max-height: 200px;
    overflow: scroll;
  }
}

.transaction__header {
  display: flex;
  flex-direction: column;

  @include mq($from: tablet) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.row {
  display: flex;
  justify-content: space-around;
  &:hover {
    background-color: transparentize($color-grey, 0.7);
  }

  &.transaction__titles {
    font-weight: bold;
    &:hover {
      background-color: transparent;
    }
  }
}

.cell {
  flex: 1;
  color: $color-grey--dark;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 10ch;
}
