.widget {
  background-color: $color-white;
  padding: 20px;
  border-radius: 30px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;

  @include mq($from: tablet) {
    max-height: 400px;
    overflow: hidden;
    box-shadow: 1px 2px 10px $color-grey;
  }

  &__small {
    @include mq($from: mobile) {
      max-width: 450px;
      margin-right: auto;
      margin-left: auto;
    }
    @include mq($from: tablet) {
      max-width: 450px;
      margin-right: initial;
      margin-left: initial;
    }
  }
}
