.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $color-green;
  color: $color-white;
  text-shadow: 1px 1px 2px $color-black;
  height: 110px;
  width: 200px;
  padding: 10px;
  border-radius: 10px;

  &__number {
    align-items: center;
    padding-bottom: 20px;
    font-weight: bold;
  }

  &__expiry, &__csv {
    font-size: 0.8em;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
}

.creditLimit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  color: $color-green--dark;
  font-weight: bold;
}
