.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  font-size: 2rem;
  color: $color-white;

  @include mq($from: tablet) {
    flex-direction: row;
    justify-content: space-around;
  }
}

.logo {
  height: 10vmin;
  pointer-events: none;
}
