.form__group {
  position: relative;
  padding: 10px 0 15px 0;
  margin-top: 10px;
  width: 100%;

  @include mq($from: tablet) {
    width: 30%;
  }
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 1px solid $color-grey;
  outline: 0;
  font-size: 1.3rem;
  color: $color-green--dark;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 10px;
    white-space: nowrap;
  }
}

.form__label {
  position: absolute;
  top: 0px;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $color-grey;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: -6px;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $brand-color;
    font-weight:700;

    @include mq($from: tablet) {
      top: -15px;
    }
  }

  padding-bottom: 6px;
  font-weight: 700;
  border-width: 2px;
  border-image: linear-gradient(to right, $color-green--dark, $brand-color);
  border-image-slice: 1;
}
