.app {
  background-color: $brand-color;
  min-height: 100vh;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  min-width: 300px;

  @include mq($from: tablet) {
    max-width: 100vw;
    max-height: 100%;
    padding-bottom: 50px;
  }
}

.wrapper {
  @include mq($from: tablet) {
    background-color: $color-white--secondary;
    padding: 50px 50px 0 50px;
    margin-bottom: 50px;
    border-radius: 30px;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    min-height: 76vh;
  }
}
