$color-green: #1FE07D;
$color-green--dark: #2EA985;
$color-white: #FFFFFF;
$color-white--secondary: #F5F6FC;
$color-black: #000000;
$color-blue: #042246;
$color-grey: #C9D3DF;
$color-grey--dark: #738CA3;

$brand-color: $color-green;
